@import url(http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);

body {
	color: #61443e;
	font-family: 'Love Ya Like A Sister', serif;
	font-size: 13px;
	background-color: #000;
	margin: 0px;
	overflow: hidden;
}

a { color: #a06851; }

.hidden { display: none; }

#container { width: 100%; }

canvas {
	width: 100%;
	height: 100%;
}

#renderer-info {
	position: absolute;
	bottom: 0px;
	left: 170px;
	color: #f08;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.33);
	font-family: monospace;
}

#ping-container {
	position: absolute;
	bottom: 5px;
	right: 5px;
	font-size: 10px;
	padding: 5px;
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

#loader-status {
	display: none;
	left: 0px;
	font-size: 1.8em;
	width: auto;
	color: #c00;
}

#stats {
	position: absolute;
	top: 0px;
	right: 0px;
}

#points-container {
	position: absolute;
	top: 10px;
	left: 10px;
	text-align: left;
	color: #f66;
	font-size: 20px;
}

.points-row {
	margin-bottom: 3px;
}

.icon {
	width: 24px;
	margin-right: 10px;
}

.points {
	vertical-align: bottom;
}

#results {
	position: absolute;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 5px;
	width: 200px;
	height: 100px;
	margin-top: 200px;
	margin-left: calc(50% - 200px / 2);
	margin-right: calc(50% - 200px / 2);
}
