@import url(http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);

body {
	color: #61443e;
	font-family: 'Love Ya Like A Sister', serif;
	font-size: 13px;
	text-align:center;
	background-color: #000;
	margin: 0px;
	overflow: hidden;
}

a { color: #a06851; }

.hidden { display: none; }

#container { width: 100%; }

canvas {
	width: 100%;
	height: 100%;
}

#renderer-info {
	position: absolute;
	bottom: 0px;
	left: 170px;
	color: #f08;
	text-align: left;
	background-color: rgba(0, 0, 0, 0.33);
	font-family: monospace;
}

#loader-status {
	display: none;
	left: 0px;
	font-size: 1.8em;
	width: auto;
	color: #c00;
}
